<div class="wrapper">
  <div class="highlighter">
    <h2>Multiple highlighters</h2>
    <div class="group group-1">
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
      <app-search-multiple-highlighters></app-search-multiple-highlighters>
    </div>
  </div>

  <div class="highlighter">
    <h2>Single highlighter</h2>
    <div class="group group-2">
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
      <app-search-single-highlighter></app-search-single-highlighter>
    </div>
  </div>
</div>
