::highlight(highlighter-1),
::highlight(highlighter-2),
::highlight(highlighter-3),
::highlight(highlighter-4),
::highlight(highlighter-5),
::highlight(highlighter-6),
::highlight(highlighter-7),
::highlight(highlighter-8) {
    color: blue;
    text-decoration: green wavy underline;
}


::highlight(highlighter-type-single) {
    color: blue;
    text-decoration: palevioletred wavy underline;
}